.project {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.projectPhotoContainer {
  background-color: white;
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 0 100%, 88% 100%, 100% 00);
}

.projectPhoto {
  width: 100%;
}

.projectInfoContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectTitle {
  color: black;
  display: flex;
  justify-content: center;
}

.projectDescribe {
  color: black;
  padding: 20px;
}

@media (max-width: 1200px) {
  .projectTitle {
    font-size: 20px;
    padding: 10px 10px 0 10px;
  }
  .projectDescribe {
    font-size: 16px;
    width: 450px;
  }
  .projectPhotoContainer {
    height: 0%;
    width: 0%;
  }
  .project {
    height: 250px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 365px) {
  .projectTitle {
    font-size: 18px;
    padding: 10px 10px 0 10px;
  }
  .projectDescribe {
    font-size: 14px;
    padding: 15px;
    width: 250px;
  }
  .projectPhotoContainer {
    height: 0%;
    width: 0%;
  }
}
