.projectsContainer {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3e3e3;
}

.projectsTitle {
  width: 90%;
  padding-bottom: 40px;
}

.projectsTitle h2 {
  color: black;
  font-size: 25px;
}
